*{
    margin: 0;
        padding: 0;
        box-sizing: border-box;
}
body {
    background-color: #fff0f5;
    font-family: 'Poppins', sans-serif;
    align-items: center;
}

header {
    justify-content: space-between;
    display: flex;
    align-items: center;
    background: pink;
box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem 2rem;
    margin-bottom: 20px;
    position: relative;
}
.menu-icon {
    font-size: 2rem;
    cursor: pointer;
    color: white;
    display: none;
}

nav {
    display: flex;
    gap: 15px;
}
nav a {
    color: rgb(10, 10, 10);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500px;
}
nav a:hover {
    background-color: rgb(252, 156, 172);
}
h2,
p {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-bottom: 1rem;
    font-size: clamp(1.2rem, 1vw, 1rem);
}
header h1 {
    font-size: 40px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
.hero {
    justify-content: center;
    /* centralizar*/
    align-items: center;
    /*Centralixar na perfeição*/
    display: flex;
    width: 100%;
    padding-right: 20%;
    /* border: 2px solid blue;*/
}

.box-img {
    justify-content: center;
    display: flex;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.box-txt {
    flex-flow: row wrap;
    /*intercalar os texto, em por cima do outro*/
    display: flex;
    width: 40%;
    /* border: 2px solid rgb(255, 0, 0);*/
}

.box-txt span {
    color: gray;
    letter-spacing: 3px;
    /*dar espaço entre as letras*/
    text-transform: uppercase;
    /*Maiúscula*/
}

.box-txt h2 {
    font-size: 60px;
    color: pink;
    font-weight: 600px;
    /*grossura da letra*/
    margin-top: 30px;
    /*altura do texto*/
    margin-bottom: 30px;
    /*espaçamento entre os textos*/
    line-height: 50px;
    /*espaçamento entre as linhas*/
}

.btn-hero {
    background-color: rgb(252, 93, 133);
    padding: 0.8em 1.2em;
    color: white;
    border-radius: 8px;
    transition: 0.5s all;
    margin-bottom: 40px;
    margin: 1rem auto;
    font-size: 1rem;
    max-width: 200px;
    cursor: pointer;
    display: block;
}

.btn-hero:hover {
    background-color: rgb(253, 154, 171);
}

.box-items {
    background: rgb(252, 218, 215);
    margin: 11px;
    max-width: 280px;
    padding: 1rem;
   flex: 1 1 250px;
    border-radius: 12px;
    color: rgb(252, 83, 111);
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}
.box-items :hover{
    transform: scale(1.05);
}

.circular {
    width: 150px;
    /* Defina a largura desejada */
    height: 150px;
    /* Defina a altura desejada */
    border-radius: 50%;
    /* Faz a imagem ficar circular */
    overflow: hidden;
    /* Garante que a imagem não ultrapasse os limites do contêiner */
    object-fit: cover;
    margin-left: 20%;
}

.texto {
    border-radius: 100%;
}

.Especialidades {
    justify-content: center;
    align-items: center;
    display: flex;
        flex-wrap: wrap;
        padding: 2rem 1 rem;
        gap: 1rem;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    background: pink;
    height: 100px;
    color: white;
    font-size: 0.9rem;
}

.zap {
    position: fixed;
    right: 1px;
    bottom: 10px;
}


@media screen and (max-width: 1200px) {
    .hero {
            flex-direction: column-reverse;
        }
    
        .box-txt {
            flex-flow: column wrap;
            width: 100%;
            padding: 40px 30px;
            justify-content: center;
            align-items: center;
        }
    
        .box-txt p {
            text-align: center;
        }
    
        .box-txt h2 {
            font-size: 60px;
        }
    
        .box-img {
            width: 100%;
            margin-bottom: 40px;
        }
    #nayara{
            margin: 7px;
            max-width: 450px;
            padding: 15px;
            flex: 1 1 250px;
    }
    header h1{
        font-size: 1.5rem;
    }

    .box-items {
        width: 90%;
    }

    footer {
        font-size: 18px;
        text-align: center;
    }
         nav {
             display: none;
             flex-direction: column;
             background-color: #ffb6c1;
             position: absolute;
             top: 60px;
             right: 20px;
             padding: 1rem;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
             border-radius: 10px;
            z-index: 10;
         }
    
         nav.show {
             display: flex;
         }
    
                 .menu-icon {
             display: block;
         }

}

/*
 body{
            width: 100pt;
            height: 100pt;
            background-image: url('');
            background-size: 100%;
            
*/